.paginate {
  	font-family: Verdana;
	font-size: 12px;
}

a.paginate {
	border: 1px solid #000080;
	/*padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #000080; */
	display: block;
  float: left;
  color: #585858;
  text-decoration: none;
  padding: 6px 11px;
  margin-right: 6px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #eee);
  background-image: -moz-linear-gradient(top, #f7f7f7, #eee);
  background-image: -ms-linear-gradient(top, #f7f7f7, #eee);
  background-image: -o-linear-gradient(top, #f7f7f7, #eee);
  background-image: linear-gradient(top, #f7f7f7, #eee);
  -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
  -moz-box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
  box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
}


a.paginate:hover {
	/*background-color: #95AD19;
	color: #ffffff;
	text-decoration: underline; */
	background: #c0c0c0;
    color: #555;
	/*color: #95AD19;
	background: #95AD19;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#95AD19));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #95AD19);  */
}
a.paginate:active {
  position: relative;
  top: 1px;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0, .55);
  -moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0, .55);
  box-shadow: 1px 1px 3px -1px rgba(0,0,0, .55);
}
a.current {
	/*border: 1px solid #000000;
	font: bold 10px Verdana;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background:#003366;
	color: #ffffff;
	text-decoration: none; */
	display: block;
  float: left;
  padding: 6px 11px;
  padding-top: 8px;
  margin-right: 6px;
  border-radius: 3px;
  color: #676767;
}

span.inactive {
	border: 1px solid #999;
	font-family: Verdana;
	font-size: .11em;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}

search {
	font-family: Verdana;
	padding: 2px 6px;
	font-size: .11em;
	border: 1px solid #DDD;
}